ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scikit-learn
pymongo
from_root
dill
certifi
PyYAML
boto3
mypy-boto3-s3
botocore
fastapi
python-multipart
uvicorn
jinja2
imblearn
-e .

mongodb+srv://ranjeetk5498:TwS97Y5iUbdo0YKJ@cluster0.vjhcumw.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0